service: housing-repairs-online-frontend

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-2
  stage: ${opt:stage}
  versionFunctions: true

package:
  excludeDevDependencies: true
  individually: true
  exclude:
    - ./**

functions:
  HousingRepairsOnlineFrontend:
    name: ${self:service}-${self:provider.stage}
    handler: lambda.handler
    timeout: 30
    package:
      include:
      - lambda.js
      - next.config.js
      - public/**
      - build/_next/standalone/**
      - build/_next/static/**
    exclude:
      - 'build/_next/standalone/node_modules/@next/swc-darwin-arm64/**'
      - 'build/_next/standalone/node_modules/@next/swc-darwin-x64/**'
      - 'build/_next/standalone/node_modules/@next/swc-linux-x64-gnu/**'
      - 'build/_next/standalone/node_modules/@next/swc-win32-x64-msvc/**'
      - 'build/_next/standalone/node_modules/@sentry/cli/sentry-cli'
      - 'build/_next/standalone/node_modules/leaflet/**'
      - 'build/_next/standalone/node_modules/lib-phonenumbersjs/**'
      - 'node_modules/**'
      # include:
      #   - lambda.js
      #   - next.config.js
      #   - public/**
      #   - 'build/_next/BUILD_ID'
      #   - 'build/_next/*.json'
      #   - 'build/_next/standalone/**'	
      #   - 'build/_next/server/**'	
      #   - 'build/_next/static/**'
      #   - '!node_modules/lib-phonenumbersjs/**'
      #   - '!node_modules/**'
      #   - '!node_modules/@next/swc-darwin-arm64'
      #   - '!node_modules/@next/swc-darwin-x64'
      #   - '!node_modules/@next/swc-linux-x64-gnu'
      #   - '!node_modules/@next/swc-win32-x64-msvc'
      #   - '!node_modules/@sentry/cli/sentry-cli'
      #   - '!node_modules/leaflet'    
    environment:
      REPAIRS_API_IDENTIFIER: ${ssm:/HousingRepairsOnlineApi/${self:provider.stage}/authentication-identifier}
      REPAIRS_API_BASE_URL: ${ssm:/HousingRepairsOnlineApi/${self:provider.stage}/repairs-api-base-url}
    role: lambdaExecutionRole
    events:
      - httpApi:
          path: /
          method: ANY
      - httpApi:
          path: /{any+}
          method: ANY

resources:
  Resources:
    lambdaExecutionRole:
      Type: AWS::IAM::Role
      Properties:
        Path: /${self:service}/
        RoleName: ${self:service}-lambdaExecutionRole
        AssumeRolePolicyDocument:
          Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        ManagedPolicyArns:
          - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
          - arn:aws:iam::aws:policy/AWSXRayDaemonWriteAccess
        Policies:
          - PolicyName: manageLogs
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                  Resource:
                    - 'Fn::Join':
                        - ':'
                        - - 'arn:aws:logs'
                          - Ref: 'AWS::Region'
                          - Ref: 'AWS::AccountId'
                          - 'log-group:/aws/lambda/*:*:*'
                - Effect: 'Allow'
                  Action:
                    - 's3:PutObject'
                    - 's3:GetObject'
                  Resource:
                    Fn::Join:
                      - ''
                      - - 'arn:aws:s3:::'
                        - 'Ref': 'ServerlessDeploymentBucket'
          - PolicyName: lambdaInvocation
            PolicyDocument:
              Version: '2012-10-17'
              Statement:
                - Effect: Allow
                  Action:
                    - 'lambda:InvokeFunction'
                  Resource: '*'
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          Aliases:
            - ${self:custom.aliases.${self:provider.stage}}
          PriceClass: PriceClass_100
          ViewerCertificate:
            AcmCertificateArn: ${self:custom.certificate-arn.${self:provider.stage}}
            MinimumProtocolVersion: TLSv1.2_2018
            SslSupportMethod: sni-only
          DefaultCacheBehavior:
            TargetOriginId: ${self:service}-${self:provider.stage}-custom-origin
            ViewerProtocolPolicy: 'redirect-to-https'
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
              - PUT
              - PATCH
              - POST
              - DELETE
            DefaultTTL: 0
            MaxTTL: 0
            MinTTL: 0
            ForwardedValues:
              QueryString: true
              Cookies:
                Forward: all
          Enabled: true
          Origins:
            - Id: ${self:service}-${self:provider.stage}-custom-origin
              DomainName: ${self:custom.domain-name}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only
    staticImagesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: repairs-online-${opt:stage}-static-images

custom:
  domain-name:
    Fn::Join:
      - '.'
      - - ${self:custom.gateway-id.${self:provider.stage}}
        - execute-api
        - eu-west-2
        - amazonaws.com
  aliases:
    development: housingrepairs-development.hackney.gov.uk
    staging: housingrepairs-staging.hackney.gov.uk
    production: housingrepairs.hackney.gov.uk
  certificate-arn:
    development: arn:aws:acm:us-east-1:364864573329:certificate/a5935e70-ab94-4326-b2f0-c527eb7c214f
    staging: arn:aws:acm:us-east-1:087586271961:certificate/ff3800a6-62f7-497a-a2d0-e482d76614ec
    production: arn:aws:acm:us-east-1:282997303675:certificate/6714a979-786f-426b-9fe0-349b65ba825f
  gateway-id:
    development: n2sbci4mna
    staging: 03aez9g0ka
    production: salzoo2y60